*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'arial';
}
.grid{
    max-width: 700px;
    width: 90%;
    height: 600px;
    margin: 20px auto;
    outline: 3px solid #000;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:repeat(5, 1fr) ;
    /* row-gap: 5px; */
    /* column-gap: 5px; */
    gap: 5px;

}

.grid__item{
    color: #fff;
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem;
}

.grid :nth-child(1){
    background: darkslategray;
    background-image: url(img/pexels1.jpg);
    background-size: cover;
    background-position: center;

    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 6;

}


.grid :nth-child(2){
    background: salmon;
    background-image: url(img/pexels2.jpg);
    background-size: cover;
    background-position: center;
    /* grid-column-start: 3; */
    /* grid-row-start: 5; */
    /* grid-row-end: 6; */

    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;


}


.grid :nth-child(3){
    background: aqua;
    background-image: url(img/pexels3.jpg);
    background-size: cover;
    background-position: center;
    /* grid-column: span 2; */
    /* grid-row: 3 / span 5; */
    /* grid-column: 2 / span 3; */
    /* grid-row: 1 / span 3; */
    /* grid-row: 4/ 2; */

    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;


}


.grid :nth-child(4){
    background: chartreuse;
    background-image: url(img/pexels4.jpg);
    background-size: cover;
    background-position: center;

    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}

.grid :nth-child(5){
    background: hotpink;
    background-image: url(img/pexels5.jpg);
    background-size: cover;
    background-position: center;

    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}


.grid :nth-child(6){
   
    background: gold;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

}

.grid :nth-child(7){
    background: green;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid :nth-child(8){
    background: brown;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 6;
}
.grid :nth-child(9){
    background: cadetblue;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 6;
}


.grid :nth-child(10){
    background: fuchsia;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}